_gsdata_/
settings.json
.env
scratch/
meteor-settings.json

# Development data (dev MongoDB, snapshot store, dev logs), see scripts/run.mjs
.dev-data/

# Exclude JetBrains IDE specific files
.idea

# Exclude TV2-specific things:
.github/workflows/automerge.yml
.github/workflows/deps.yaml
.github/workflows/forkSync.yml
.github/workflows/forkSynk.yml

**/node_modules/**
**/yarn-error.log
**/*.tsbuildinfo
packages/*/dist
packages/*/coverage
packages/*/CHANGELOG.md
packages/sofie-core/.coverage/
packages/coverage/
packages/sofie-core/src/_force_restart.js
packages/documentation/build
docs
.nx/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
