@use 'mixins';
@use 'variables';
/* BEGIN Black Italic */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'BlackItalic');
	font-weight: 900;
	font-style: italic;
}
/* END Black Italic */
