@use 'mixins';
@use 'variables';
/* BEGIN Black */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'Black');
	font-weight: 900;
	font-style: normal;
}
/* END Black */
