@use 'mixins';
@use 'variables';
/* BEGIN Light */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'Light');
	font-weight: 300;
	font-style: normal;
}
/* END Light */
