@use 'mixins';
@use 'variables';
/* BEGIN Light Italic */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'LightItalic');
	font-weight: 300;
	font-style: italic;
}
/* END Light Italic */
