@use 'mixins';
@use 'variables';
/* BEGIN Medium */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'Medium');
	font-weight: 500;
	font-style: normal;
}
/* END Medium */
