@use 'mixins';
@use 'variables';
/* BEGIN Regular */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'Regular');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'Regular');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */
