@use 'mixins';
@use 'variables';
/* BEGIN Roboto Flex */
@font-face {
	font-family: 'Roboto Flex';
	@include mixins.fontdef-ttf(variables.$FontPath, 'RobotoFlex', variables.$FontVersion, 'Regular');
	font-weight: 400;
	font-style: normal;
}
/* END Roboto Flex */
