@use 'mixins';
@use 'variables';
/* BEGIN Thin Italic */
@font-face {
	font-family: Roboto;
	@include mixins.fontdef-woff(variables.$FontPath, variables.$FontName, variables.$FontVersion, 'ThinItalic');
	font-weight: 100;
	font-style: italic;
}
/* END Thin Italic */
