/* SASS starting point. Import styles from here on: */

/* body {
	user-select: none;
}

input {
	user-select: auto;
} */

@use 'fonts';

@use 'defaultColors';

@use 'bootstrap';

@use 'itemTypeColors';

@use 'colorScheme';
@use '_variables';
// @use '_colorScheme';
@use 'checkerboard';

@use '_header';

@use 'fromOrigo';

@use 'afterBroadcastForm';
@use 'collapseJSON';
@use 'colorPicker';
@use 'contextMenu';
@use 'datePicker';
@use 'externalMessagesStatus';
@use 'iconPicker';
@use 'modalDialog';
@use 'multiSelect';
@use 'notifications';
@use 'propertiesPanel';
@use 'overflowingContainer';
@use 'pieceStatusIcon';
@use 'prompter';
@use 'tTimerDisplay';
@use 'rundownStatusBar';
@use 'rundownList';
@use 'rundownSystemStatus';
@use 'settings';
@use 'splitDropdown';
@use 'statusbar';
@use 'studioScreenSaver';
@use 'supportAndSwitchboardPanel';
@use 'systemStatus';
@use 'testtools';
@use 'tooltips';
@use 'utils';
@use 'elementSelected';

@use 'countdown/overlay';
@use 'countdown/presenter';
@use 'countdown/director';
@use 'counterComponents';

@use 'customizations/nrk/shelf/taPanel';

@use 'shelf/adLibPanel';
@use 'shelf/adLibRegionPanel';
@use 'shelf/colored-box-panel';
@use 'shelf/dashboard-rundownView';
@use 'shelf/dashboard-streamdeck';
@use 'shelf/dashboard';
@use 'shelf/endTimerPanel';
@use 'shelf/externalFramePanel';
@use 'shelf/inspector';
@use 'shelf/miniRundownPanel';
@use 'shelf/nextInfoPanel';
@use 'shelf/partCountdownPanel';
@use 'shelf/partNamePanel';
@use 'shelf/pieceCountdownPanel';
@use 'shelf/playlistNamePanel';
@use 'shelf/segmentNamePanel';
@use 'shelf/segmentTimingPanel';
@use 'shelf/shelf';
@use 'shelf/startTimerPanel';
@use 'shelf/studioNamePanel';
@use 'shelf/textLabelPanel';
@use 'shelf/timeOfDayPanel';

@use '../lib/forms/SchemaFormTable/ObjectTable';
@use '../lib/forms/SchemaFormOneOfButtons/OneOfButtons';
@use '../lib/Components/PromiseButton';
@use '../lib/VideoPreviewPlayer';
@use '../ui/ClipTrimPanel/ClipTrimPanel';
@use '../ui/ClipTrimPanel/TimecodeEncoder';
@use '../ui/ClipTrimPanel/VideoEditMonitor';
@use '../ui/SegmentStoryboard/StoryboardPartThumbnail/StoryboardPartThumbnail';
@use '../ui/SegmentStoryboard/SegmentStoryboard';
@use '../ui/SegmentStoryboard/StoryboardPartSecondaryPieces/StoryboardPartSecondaryPieces';
@use '../ui/Settings/components/triggeredActions/TriggeredActionsEditor';
@use '../ui/Settings/Forms';
@use '../ui/SegmentTimeline/SegmentTimeline';
@use '../ui/Status/media-status/MediaStatusListItem';
@use '../ui/Status/media-status/MediaStatusList';
@use '../ui/Status/media-status/MediaStatusListHeader';
@use '../ui/Status/package-status/package-status';
@use '../ui/SegmentList/LinePartPieceIndicator/LinePartPieceIndicator';
@use '../ui/SegmentList/LinePartPieceIndicator/PieceIndicatorMenu';
@use '../ui/SegmentList/SegmentList';
@use '../ui/SegmentList/LinePartMainPiece/LinePartMainPiece';
@use '../ui/SegmentList/LinePartTransitionPiece/LinePartTransitionPiece';
@use '../ui/SegmentList/LinePartSecondaryPiece/LinePartSecondaryPiece';
@use '../ui/PieceIcons/IconColors';
@use '../ui/PieceIcons/PieceIcons';
@use '../ui/ClockView/ClockViewPieceIcons/ClockViewPieceIcons';
@use '../ui/ClockView/CameraScreen/CameraScreen';
@use '../ui/RundownView/MediaStatusPopUp/MediaStatusPopUpItem';
@use '../ui/RundownView/MediaStatusPopUp/MediaStatusPopUp';
@use '../ui/RundownView/MediaStatusPopUp/MediaStatusPopUpHeader';
@use '../ui/RundownView/MediaStatusPopUp/MediaStatusPopUpSegmentRule';
@use '../ui/SegmentAdlibTesting/SegmentAdlibTesting';

@use 'rundownView';

body {
	overscroll-behavior: none;
	touch-action: pan-x pan-y;

	letter-spacing: 0.5px;
}

// By default an a-tag has underlined text - and Link components are rendered as a-tags
// So the default behaviour set to none, and then we can override it in the components that need it:
a {
	text-decoration: none;
}

:fullscreen ::-webkit-scrollbar {
	background: #252627;
}

:fullscreen ::-webkit-scrollbar-thumb {
	background: #555;
	border: 3px solid #252627;
	border-radius: 10px;
}

.scroll-sink {
	overscroll-behavior: none;
}

// /* Don't show visited status, since people will browse around the app a lot */
// a:visited {
// 	color: colorScheme.$ui-button-primary;
// }

// .header {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	z-index: 500;
// 	user-select: none;

// 	// position: relative;
// 	// z-index: 500;
// }

// #render-target {
// 	font-weight: 300;

// 	.checkbox {
// 		vertical-align: top;

// 		&.mod {
// 			vertical-align: middle;
// 		}
// 	}

// 	.btn,
// 	.btn-tight {
// 		font-weight: 300;
// 	}

// 	input {
// 		&::-webkit-input-placeholder,
// 		&::placeholder {
// 			color: #bbb;
// 		}
// 	}

// 	.scroll-x {
// 		overflow-x: auto;
// 	}
// }

// .btn > svg.svg-inline--fa + span {
// 	margin-left: 0.5em;
// }

.switch-button {
	width: 42px !important;
	height: 21px !important;

	&.sb-nocolor.sb-on {
		.sb-content {
			.sb-label {
				background-color: #737373;
			}
		}
	}

	.sb-content {
		width: 42px;
		height: 21px;
		> .sb-label {
			width: 42px;
			height: 21px;
		}
		.sb-switch {
			width: 19px;
			height: 19px;
		}
	}

	&:active .sb-label {
		opacity: 0.8;
	}

	&.sb-on {
		.sb-switch {
			transform: matrix(1, 0, 0, 1, 21, 0);
		}
	}
}

.form-switch.switch-lg {
	.form-check-input {
		width: 3em;
		height: 1.5em;
	}
}
.form-switch.switch-nocolor {
	.form-check-input,
	.form-check-input:checked {
		// TODO: unknown variable: $form-switch-checked-bg-image ??
		// --bs-form-switch-bg: #{escape-svg($form-switch-checked-bg-image)};

		background-color: #737373;
		border-color: #737373;
	}
}
